.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 42px;
}

.form-control {
  height: 42px;
}

h2 {
    font-family: 'EB Garamond', serif;
}

.well-button {
  background-color: #303136;
}

.login-form {
  margin-top: 50px;
}
#error {
  color: black;
  background-color: #993333;
  border-color: #ebccd1;
  padding:1px 20px 1px 20px;
}
#login-title {
  font-size: 44px;
}
body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #8b6c0e;
}
 
.btn-primary:active, .btn-primary.active {
    background: #8b6c0e;
    box-shadow: none;
}

.controlBtns {
  background-color: #312f2a;
  color: white;
  }

input {
  padding:5px;
  font-size:16px;
  font-family:'Lucida Casual', 'Comic Sans MS';
  color: black;
}